* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cards {
  margin: 50px 15px 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, max-content));
  grid-gap: 10px;
  padding: 4% 4% 0 4%;
}

.card {
  padding: 15px;
  border: 1px solid #e0e0e0;
  flex: 0 1 calc(20% - 1em);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader .headerTitle {
  display: flex;
  align-items: center;
}

.cardHeader .headerTitle img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.cardHeader .headerTitle div {
  margin-left: 10px;
}

.cardHeader .headerTitle p:nth-of-type(1) {
  font-weight: 700;
}

.cardHeader .headerTitle p:nth-of-type(2) {
  margin-top: 3px;
  font-weight: 400;
  font-size: 12px;
}

.cardContent {
  padding: 10px 0;
}

.cardContent img {
  width: 100%;
  height: 315px;
  margin: 10px 0 20px 0;
}

.cardContent p {
  margin-bottom: 10px;
}

.cardFooter {
  display: flex;
  border-top: 1px solid #e8e8e8;
  padding: 15px 0;
}

.cardFooter p {
  margin-left: 5px;
}

/* Load More Button */
.loadMoreBtnContainer {
  padding: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtnContainer button {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
  width: 137px;
  height: 53px;
  background: #0081ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Modal Design */

/* Responsive Design */

@media only screen and (max-width: 1025px) {
  .cardContent img {
    height: 250px;
  }
}

@media only screen and (max-width: 993px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(40%, max-content));
    margin: 50px 30px 0 30px;
    grid-gap: 10px;
  }
  .cardContent img {
    height: 325px;
  }
}

@media only screen and (max-width: 769px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
  }
}

@media only screen and (max-width: 426px) {
  .cards {
    margin: 50px 5px 0 5px;
  }
  .cardContent img {
    height: 250px;
  }
}
