* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cards {
  margin: 50px 15px 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, max-content));
  grid-gap: 10px;
  padding: 4% 4% 0 4%;
}

.card {
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.card:hover {
  cursor: pointer;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader .headerTitle {
  display: flex;
  align-items: center;
}

.cardHeader .headerTitle img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.cardHeader a img {
  height: 24px;
  width: 24px;
}

.cardHeader .headerTitle div {
  margin-left: 10px;
}

.cardHeader .headerTitle p:nth-of-type(1) {
  font-weight: 700;
}

.cardHeader .headerTitle p:nth-of-type(2) {
  margin-top: 3px;
  font-weight: 400;
  font-size: 12px;
}

.cardContent {
  padding: 10px 0;
}

.cardContent img {
  width: 100%;
  height: 315px;
  margin: 10px 0 20px 0;
}

.cardContent p {
  margin-bottom: 10px;
}

.cardFooter {
  display: flex;
  border-top: 1px solid #e8e8e8;
  padding: 15px 0;
}

.cardFooter p {
  margin-left: 5px;
}

/* Load More Button */
.loadMoreBtnContainer {
  padding: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtnContainer button {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
  width: 137px;
  height: 53px;
  background: #0081ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Modal Design */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 2%;
}

.modalContent {
  display: flex;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 10px;
  width: 50%;
}

.modalImage {
  width: 506px;
  height: 506px;
}

.modalContent .rightModal {
  width: 100%;
  padding: 10px;
}

.modalContent .rightModal .cardHeader {
  border-bottom: 1px solid #888;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.modalContent .rightModal .modalText {
  margin: 25px 0 10px 0;
}

.modalContent .rightModal .modalFooter {
  display: flex;
  padding: 15px 0;
}

.modalContent .rightModal .modalFooter p {
  margin-left: 5px;
}

/* Responsive Design */

@media only screen and (max-width: 1024px) {
  .cardContent img {
    height: 250px;
  }
  .modalContent {
    display: flex;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    width: 80%;
  }
  .modalImage {
    width: 384px;
    height: 384px;
  }
}

@media only screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(40%, max-content));
    margin: 50px 30px 0 30px;
    grid-gap: 10px;
  }
  .cardContent img {
    height: 325px;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
  }
}

@media only screen and (max-width: 425px) {
  .cards {
    margin: 50px 5px 0 5px;
  }
  .cardContent img {
    height: 250px;
  }
  .modalContent .rightModal .cardHeader {
    padding: 10px 15px 10px 0;
  }
  .modalContent {
    flex-direction: column;
  }
  .modalImage {
    width: 100%;
    height: 100%;
  }
}
